/* Mode Conkey's Minecraft Hub */
/* Lovingly crafted by Jack Ketcham */

/* -------------------------------------------------- 
   $Table-of-Contents
-----------------------------------------------------
:: Shared-Styles
:: Home-Page
:: Gallery-Page
:: Server-Page
*/





/* -----------------------------------------
   $Shared Styles
----------------------------------------- */ 
header {
  margin-bottom: 25px;
}
header h2 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(39, 39, 39);
}
h3 {
  font-family: 'Fredoka One', cursive;  
}
#fitText {
  display: block;
}
.nav-bar {
  background: rgb(160, 160, 160);
  margin-top: 15px;
}
.nav-bar li:hover {
  background: rgb(192, 107, 69);
}
.footer {
  text-align: center;
}
.footer p {
  font-size: 11px;
}





/*------------------------------------------------------------------------------
  $Home-Page
------------------------------------------------------------------------------*/
#featured { 
  background:  center center #f4f4f4; height: 414px; 
}
#featured img { display: none; }
#featured.orbit { 
  background: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, .5);
  box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, .5);
}
#featured.orbit img { display: block; }
#headline {
  text-align: right;
}
#headline h2 {
  font-family: 'Fredoka One', cursive;
}
#deck {
  text-align: right;
  margin-top: 30px;
}
#siteShout {
  font-family: 'Fredoka One';
  -webkit-box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, .5);
  box-shadow:  2px 2px 5px 0px rgba(0, 0, 0, .5);
}
#siteShout p {
  font-size: 18px;
  font-style: italic;
}
#siteShout a {
  font-weight: bold;
}
#ip {
  font-weight: bold;
}
.widget ul {
  line-height: 2;
}
.panel.callout {
  color: rgb(34, 34, 34);
  text-align: center;
}
.panel.callout a:hover {
  color: black;
}
#siteNews {
  display: block;
  width: 371px;
  float: left;
  font-size: 15px;
  line-height: 30px;
  margin: 0 24px 0 0;
  padding: 0 25px;
}





/*------------------------------------------------------------------------------
  $Gallery-Page
------------------------------------------------------------------------------*/
.module>.holder {
  margin: 15px;
  padding: 25px;
  border: 1px solid rgb(221, 221, 221);
}
.nailthumb-container {
  -webkit-transform: scale(0.2);
  -webkit-transform-origin: 0% 0%;
  -moz-transform: scale(0.2);
  -moz-transform-origin: 0% 0%;
  -o-transform: scale(0.2);
  -o-transform-origin: 0% 0%;
  -ms-transform: scale(0.2);
  -ms-transform-origin: 0% 0%;
  transform: scale(0.2);
  transform-origin: 0% 0%;
}
.square-thumb {
  margin-top: -500px;
}
.nailthumb-container img {
    float: left;
    display: block;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
  }

.nailthumb-container img:hover {
  opacity: .5;
  cursor: pointer;
}





/*------------------------------------------------------------------------------
  $Server-Page
------------------------------------------------------------------------------*/

table p {
  margin-top: 10px;
}
.player_name {
  margin-left: 10px;
  position: absolute;
  margin-top: 10px;
}
.player_skin {

}
#online {
  background: #88c045;
}
#offline {
  background: #c04545;
}
#admin {
  color: rgb(255,0,0);
}
.show_hide {
    display:none;
    float: right;
    padding-right: 5px;
}
.toolbar {
  padding: 3px;
  font-size: 13px;
  line-height: 1.4;
  color: rgb(102, 102, 102);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.stats {
  padding: 15px;
  text-align: center;
  background: rgb(238, 238, 238);
  margin-top: 10px;
  border: 1px solid rgb(221, 221, 221);
}
.stats button {
  float: left;
}
#rules {
  width: 50%;
  margin: 0 auto;
}
.module{
  margin: 32px 0 10px 0;
  padding: 3px;
  font-size: 13px;
  line-height: 1.4;
  color: rgb(102, 102, 102);
  background: rgb(238, 238, 238);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.module>.inner{
  padding:12px;
  border:1px solid #ddd;
  background:#fafafa;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.module h2{
  margin:0 0 8px -8px;
  width:100%;
  padding:0 8px 8px 8px;
  font-size:14px;
  color:#333;
  border-bottom:1px solid #ddd;
  text-shadow: #fff 1px 1px 0;

}
.module h2.twitter{
  background:url(ext/images/twitter_logo2.png) 95% 0 no-repeat;
}
.module h2 + p{
  margin-top:0;
}
.module p:last-child{
  margin-bottom:0;
}
.module em.paren-note{
  font-style:normal;
  color:#444;
}
.module h3{
  margin:0 0 -0.75em 0;
  font-size:13px;
}
.module strong{
  color:#333;
}
.module .tweet{
  margin-left:-8px;
  width:100%;
  padding:0 8px;
  border-top:1px solid #ddd;
}
.module #tweets>.tweet:first-child{
  border-top:none;
}
.module .tweet p.meta{
  margin:-10px 0 10px 0;
  text-align:right;
}
.tweet_list {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.tweet_list li {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1em;
  list-style-type: none;
  margin-left:-8px;
  width:100%;
  border-top:1px solid #ddd;
}
.tweet_time {
  margin:-10px 0 10px 0;
  text-align: right;
}
.tweet_time a {
  color:#444;
  text-decoration:underline;
  float: right;
}
.tweet_list li:first-child {
  border-top:none;
}